.resort {
  display: flex;
  width: 100%;
  border: 2px #9BD6F0 solid;
  border-radius: 28px;
  width: 90%;
  margin: 24px auto;
  padding: 2%;
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    li {
      padding: 0 8px;
    }
  }
  .resort-col {
    width: 33%;
  }
}

.location-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 12px 0;
}

.star-rating-outer {

  position: relative;
}

.star-rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #f8ce0b;
}
