.search-sidebar {
  background-color: #0086E0;
  height: 100vh;
  width: 500px;
  padding-top: 100px;
  color: white;
  position: absolute;
}

.location-query {
  padding-left: 5%;
}

.sidebar-pad {
  padding-left: 5%;
}
