.hero-content {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.hero-content-blurb, .hero-content-search {
  color: white;
  a {
    color: white;
  }
}

.hero-content-blurb {
  background-color: #0086E0;
  border-radius: 42px;
  padding: 4%;
  text-align: center;
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  hr {
    margin: 20px auto;
  }
}

.hero-content-search {
  margin-top: 32px;
  background-color: #45A5E5;
  display: flex;
  align-items: center;
  border-radius: 18px;
  .search-icon, .search-input {
    margin: 0 12px;
    padding: 2%;
  }
  .search-input {
    width: 100%;
  }
}
