.welcome-wrapper {
  height: 80vh;
  margin: 0 auto;
  background: url(./welcome-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
