.search-wrapper {
  height: 100%;
  position: relative;
}

.results-wrapper {
  width: 100%;
  padding-left: 500px;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  // IE 10+
}

.results-wrapper::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}
